numpy==1.24.3
opencv_contrib_python==4.8.0.74
opencv_python==4.8.0.74
Pillow==10.0.0
plotly==5.15.0
streamlit==1.25.0
tensorflow==2.13.0
tensorflow_intel==2.13.0
torch==2.0.0
torchvision==0.15.1
matplotlib==3.5.3
git+https://github.com/facebookresearch/detectron2.git
